<span class="name">{{item.name}}</span>
<span class="remove">
  <a href="#remove" data-behavior="true">
    <i class="fa fa-minus"></i>
  </a>
</span>
{{#if gzip}}
  <span class="weight" title="{{item.weight_gzipped}} B">{{item.weight_gzipped_pretty}}</span>
{{else}}
  <span class="weight" title="{{item.weight}} B">{{item.weight_pretty}}</span>
{{/if}}
