%li
  .basic-info
    %span.info
      #{library.name}
      - if library.description.present?
        &mdash; #{library.description}
    %span.weight{ title: "#{library.weight_gzipped} B" }= library.weight_gzipped_pretty
  .expanded-info
    %span.source
      = link_to library.source_url, class: 'button button-primary',
                                    data: { remote: true },
                                    target: '_blank' do
        %span Source
        %i.fa.fa-github
    - if library.homepage_url
      %span.homepage
        = link_to library.homepage_url, class: 'button button-primary',
                                      data: { remote: true },
                                      target: '_blank' do
          %span Homepage
          %i.fa.fa-home
    %span.add-to-stack
      = link_to '#add-to-stack', class: 'button button-primary full',
                                 data: { behavior: true } do
        %span Add To Stack
        %i.fa.fa-plus
