.row
  .four.columns
    %aside.categories
      %h3 Categories
      %ul
        %li= all_category_link
        = render @categories
  .eight.columns
    %section.libraries
      %h3 Libraries
      %p.total-found{ class: total_class } #{@original_count} found
      = render 'libraries/sorter'
      %ol.list= render @libraries_subset
      = render 'libraries/pager'
      %p.none-found{ class: none_class } No libraries found.
