- content_for(:title) { "Compare JavaScript libraries by weight" }

.row
  .four.columns
    %aside.categories
      %h3 By Category
      %ul
        %li= link_to "All Libraries", '#all', class: 'active'
        = render @categories

  .eight.columns
    %section.libraries
      %h3 Libraries
      .sort
        %span Sort by:
        = link_to "Weight", '#weight', class: 'active'
        = link_to "Popularity", '#popularity'
      %ol= render @libraries

- content_for(:scripts) do
  :javascript
    $(function() {
      window.app = new WOI.Routers.App({
        libraries:  #{@libraries.to_json},
        categories: #{@categories.to_json} 
      });
    });
