.row
  .four.columns
    = render 'categories/sidebar'
  .eight.columns
    %section.libraries
      %h3 Libraries
      %p.total-found{ class: total_class } #{@original_count} found
      = render 'components/sorter'
      %ol.list= render @libraries_subset
      = render 'components/pager'
      %p.none-found{ class: none_found_class } No libraries found.
