- content_for(:title) { @category ? @category.name : nil }

.row
  .four.columns
    = render 'categories/side_panel'
  .eight.columns
    %section.libraries
      %h3 Libraries
      %p.total-found{ class: total_class } #{@total_count} found
      = render 'components/sorter'
      %ol.list= render @libraries_subset
      = render 'components/pager'
      %p.none-found{ class: none_found_class } No libraries found.

- content_for(:menu_bar) do
  = render 'categories/menu_bar'

- content_for(:pusher) do
  = render 'components/pusher'
