!!! 5
%html{ lang: "en" }
  %head
    %meta{ charset: "utf-8" }
    %meta{ content: "width=device-width, initial-scale=1.0", name: "viewport" }
    %title= title @category
    = csrf_meta_tags

    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'

  %body
    = render 'layouts/header'
    
    %section.content
      .container
        = render 'layouts/flashes'
        = yield

    = render 'layouts/footer'
    = render 'layouts/bootstrap_app'
