!!! 5
%html{ lang: "en", class: "no-js" }
  %head
    %meta{ charset: "utf-8" }
    %title= title yield(:title)
    = render 'layouts/meta_tags'
    = csrf_meta_tags

    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    
  %body
    .pushable
      = yield(:header)
      = yield(:menu_bar)
      
      %section.content
        .container
          = yield
      
      = render 'layouts/footer'

    = yield(:outer_content)
    = render 'layouts/analytics' if Rails.env.production?
